In [268]:
import numpy as np
import pandas as pd
dataset1 = pd.read_csv("steel.csv")

In [269]:
dataset1.head() #first 5 column

,Column1,Column2,Column3,Column4,Column5,Column6,Column7,Column8,Column9,Column10,...,Column25,Column26,Column27,Column28,Column29,Column30,Column31,Column32,Column33,Column34
0,42,50,270900,270944,267,17,44,24220,76,108,...,0.8182,-0.2913,0.5822,1,0,0,0,0,0,0
1,645,651,2538079,2538108,108,10,30,11397,84,123,...,0.7931,-0.1756,0.2984,1,0,0,0,0,0,0
2,829,835,1553913,1553931,71,8,19,7972,99,125,...,0.6667,-0.1228,0.2150,1,0,0,0,0,0,0
3,853,860,369370,369415,176,13,45,18996,99,126,...,0.8444,-0.1568,0.5212,1,0,0,0,0,0,0
4,1289,1306,498078,498335,2409,60,260,246930,37,126,...,0.9338,-0.1992,1.0000,1,0,0,0,0,0,0

In [270]:
dataset1.tail()#last 5 columns

,Column1,Column2,Column3,Column4,Column5,Column6,Column7,Column8,Column9,Column10,...,Column25,Column26,Column27,Column28,Column29,Column30,Column31,Column32,Column33,Column34
1936,249,277,325780,325796,273,54,22,35033,119,141,...,-0.4286,0.0026,0.7254,0,0,0,0,0,0,1
1937,144,175,340581,340598,287,44,24,34599,112,133,...,-0.4516,-0.0582,0.8173,0,0,0,0,0,0,1
1938,145,174,386779,386794,292,40,22,37572,120,140,...,-0.4828,0.0052,0.7079,0,0,0,0,0,0,1
1939,137,170,422497,422528,419,97,47,52715,117,140,...,-0.0606,-0.0171,0.9919,0,0,0,0,0,0,1
1940,1261,1281,87951,87967,103,26,22,11682,101,133,...,-0.2000,-0.1139,0.5296,0,0,0,0,0,0,1

In [271]:
dataset1.isnull().sum()

Column1     0
Column2     0
Column3     0
Column4     0
Column5     0
Column6     0
Column7     0
Column8     0
Column9     0
Column10    0
Column11    0
Column12    0
Column13    0
Column14    0
Column15    0
Column16    0
Column17    0
Column18    0
Column19    0
Column20    0
Column21    0
Column22    0
Column23    0
Column24    0
Column25    0
Column26    0
Column27    0
Column28    0
Column29    0
Column30    0
Column31    0
Column32    0
Column33    0
Column34    0
dtype: int64

In [272]:
for i in dataset1.columns:
  column=dataset1[i]
  count=(column==0).sum()
  print(column,count)

0         42
1        645
2        829
3        853
4       1289
        ...
1936     249
1937     144
1938     145
1939     137
1940    1261
Name: Column1, Length: 1941, dtype: int64 38
0         50
1        651
2        835
3        860
4       1306
        ...
1936     277
1937     175
1938     174
1939     170
1940    1281
Name: Column2, Length: 1941, dtype: int64 0
0        270900
1       2538079
2       1553913
3        369370
4        498078
         ...
1936     325780
1937     340581
1938     386779
1939     422497
1940      87951
Name: Column3, Length: 1941, dtype: int64 0
0        270944
1       2538108
2       1553931
3        369415
4        498335
         ...
1936     325796
1937     340598
1938     386794
1939     422528
1940      87967
Name: Column4, Length: 1941, dtype: int64 0
0        267
1        108
2         71
3        176
4       2409
        ...
1936     273
1937     287
1938     292
1939     419
1940     103
Name: Column5, Length: 1941, dtype: int64 0
0       17
1       10
2        8
3       13
4       60
        ..
1936    54
1937    44
1938    40
1939    97
1940    26
Name: Column6, Length: 1941, dtype: int64 0
0        44
1        30
2        19
3        45
4       260
       ...
1936     22
1937     24
1938     22
1939     47
1940     22
Name: Column7, Length: 1941, dtype: int64 0
0        24220
1        11397
2         7972
3        18996
4       246930
         ...
1936     35033
1937     34599
1938     37572
1939     52715
1940     11682
Name: Column8, Length: 1941, dtype: int64 0
0        76
1        84
2        99
3        99
4        37
       ...
1936    119
1937    112
1938    120
1939    117
1940    101
Name: Column9, Length: 1941, dtype: int64 4
0       108
1       123
2       125
3       126
4       126
       ...
1936    141
1937    133
1938    140
1939    140
1940    133
Name: Column10, Length: 1941, dtype: int64 0
0       1687
1       1687
2       1623
3       1353
4       1353
        ...
1936    1360
1937    1360
1938    1360
1939    1360
1940    1360
Name: Column11, Length: 1941, dtype: int64 0
0       1
1       1
2       1
3       0
4       0
       ..
1936    0
1937    0
1938    0
1939    0
1940    1
Name: Column12, Length: 1941, dtype: int64 1164
0       0
1       0
2       0
3       1
4       1
       ..
1936    1
1937    1
1938    1
1939    1
1940    0
Name: Column13, Length: 1941, dtype: int64 777
0        80
1        80
2       100
3       290
4       185
       ...
1936     40
1937     40
1938     40
1939     40
1940     80
Name: Column14, Length: 1941, dtype: int64 0
0       0.0498
1       0.7647
2       0.9710
3       0.7287
4       0.0695
         ...
1936    0.3662
1937    0.2118
1938    0.2132
1939    0.2015
1940    0.1162
Name: Column15, Length: 1941, dtype: float64 38
0       0.2415
1       0.3793
2       0.3426
3       0.4413
4       0.4486
         ...
1936    0.3906
1937    0.4554
1938    0.3287
1939    0.5904
1940    0.6781
Name: Column16, Length: 1941, dtype: float64 2
0       0.1818
1       0.2069
2       0.3333
3       0.1556
4       0.0662
         ...
1936    0.5714
1937    0.5484
1938    0.5172
1939    0.9394
1940    0.8000
Name: Column17, Length: 1941, dtype: float64 0
0       0.0047
1       0.0036
2       0.0037
3       0.0052
4       0.0126
         ...
1936    0.0206
1937    0.0228
1938    0.0213
1939    0.0243
1940    0.0147
Name: Column18, Length: 1941, dtype: float64 0
0       0.4706
1       0.6000
2       0.7500
3       0.5385
4       0.2833
         ...
1936    0.5185
1937    0.7046
1938    0.7250
1939    0.3402
1940    0.7692
Name: Column19, Length: 1941, dtype: float64 0
0       1.0000
1       0.9667
2       0.9474
3       1.0000
4       0.9885
         ...
1936    0.7273
1937    0.7083
1938    0.6818
1939    0.6596
1940    0.7273
Name: Column20, Length: 1941, dtype: float64 0
0       1.0
1       1.0
2       1.0
3       1.0
4       1.0
       ...
1936    0.0
1937    0.0
1938    0.0
1939    0.0
1940    0.0
Name: Column21, Length: 1941, dtype: float64 778
0       2.4265
1       2.0334
2       1.8513
3       2.2455
4       3.3818
         ...
1936    2.4362
1937    2.4579
1938    2.4654
1939    2.6222
1940    2.0128
Name: Column22, Length: 1941, dtype: float64 0
0       0.9031
1       0.7782
2       0.7782
3       0.8451
4       1.2305
         ...
1936    1.4472
1937    1.4914
1938    1.4624
1939    1.5185
1940    1.3010
Name: Column23, Length: 1941, dtype: float64 0
0       1.6435
1       1.4624
2       1.2553
3       1.6532
4       2.4099
         ...
1936    1.2041
1937    1.2305
1938    1.1761
1939    1.4914
1940    1.2041
Name: Column24, Length: 1941, dtype: float64 2
0       0.8182
1       0.7931
2       0.6667
3       0.8444
4       0.9338
         ...
1936   -0.4286
1937   -0.4516
1938   -0.4828
1939   -0.0606
1940   -0.2000
Name: Column25, Length: 1941, dtype: float64 91
0      -0.2913
1      -0.1756
2      -0.1228
3      -0.1568
4      -0.1992
         ...
1936    0.0026
1937   -0.0582
1938    0.0052
1939   -0.0171
1940   -0.1139
Name: Column26, Length: 1941, dtype: float64 1
0       0.5822
1       0.2984
2       0.2150
3       0.5212
4       1.0000
         ...
1936    0.7254
1937    0.8173
1938    0.7079
1939    0.9919
1940    0.5296
Name: Column27, Length: 1941, dtype: float64 0
0       1
1       1
2       1
3       1
4       1
       ..
1936    0
1937    0
1938    0
1939    0
1940    0
Name: Column28, Length: 1941, dtype: int64 1783
0       0
1       0
2       0
3       0
4       0
       ..
1936    0
1937    0
1938    0
1939    0
1940    0
Name: Column29, Length: 1941, dtype: int64 1751
0       0
1       0
2       0
3       0
4       0
       ..
1936    0
1937    0
1938    0
1939    0
1940    0
Name: Column30, Length: 1941, dtype: int64 1550
0       0
1       0
2       0
3       0
4       0
       ..
1936    0
1937    0
1938    0
1939    0
1940    0
Name: Column31, Length: 1941, dtype: int64 1869
0       0
1       0
2       0
3       0
4       0
       ..
1936    0
1937    0
1938    0
1939    0
1940    0
Name: Column32, Length: 1941, dtype: int64 1886
0       0
1       0
2       0
3       0
4       0
       ..
1936    0
1937    0
1938    0
1939    0
1940    0
Name: Column33, Length: 1941, dtype: int64 1539
0       0
1       0
2       0
3       0
4       0
       ..
1936    1
1937    1
1938    1
1939    1
1940    1
Name: Column34, Length: 1941, dtype: int64 1268

In [273]:
#dropping column with all values 0 
df=dataset1.drop(['Column28','Column29','Column30','Column31','Column32','Column33','Column34','Column26','Column21','Column3','Column4','Column5','Column6','Column7'],axis=1,inplace=True)

In [274]:
dataset1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1941 entries, 0 to 1940
Data columns (total 20 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Column1   1941 non-null   int64
 1   Column2   1941 non-null   int64
 2   Column8   1941 non-null   int64
 3   Column9   1941 non-null   int64
 4   Column10  1941 non-null   int64
 5   Column11  1941 non-null   int64
 6   Column12  1941 non-null   int64
 7   Column13  1941 non-null   int64
 8   Column14  1941 non-null   int64
 9   Column15  1941 non-null   float64
 10  Column16  1941 non-null   float64
 11  Column17  1941 non-null   float64
 12  Column18  1941 non-null   float64
 13  Column19  1941 non-null   float64
 14  Column20  1941 non-null   float64
 15  Column22  1941 non-null   float64
 16  Column23  1941 non-null   float64
 17  Column24  1941 non-null   float64
 18  Column25  1941 non-null   float64
 19  Column27  1941 non-null   float64
dtypes: float64(11), int64(9)
memory usage: 303.4 KB

In [275]:
df=dataset1

In [276]:
df.shape

(1941, 20)

In [277]:
df.dtypes

Column1       int64
Column2       int64
Column8       int64
Column9       int64
Column10      int64
Column11      int64
Column12      int64
Column13      int64
Column14      int64
Column15    float64
Column16    float64
Column17    float64
Column18    float64
Column19    float64
Column20    float64
Column22    float64
Column23    float64
Column24    float64
Column25    float64
Column27    float64
dtype: object

In [278]:
from sklearn.preprocessing import LabelEncoder 
le= LabelEncoder() 
label_encoder_x= LabelEncoder()  
df.iloc[:, 0] = le.fit_transform(df.iloc[:, 0])

# label encoder is used to get sutdent id values in categorical data

### above function is used to change column = STUDENTID values

In [279]:
df.head()

,Column1,Column2,Column8,Column9,Column10,Column11,Column12,Column13,Column14,Column15,Column16,Column17,Column18,Column19,Column20,Column22,Column23,Column24,Column25,Column27
0,41,50,24220,76,108,1687,1,0,80,0.0498,0.2415,0.1818,0.0047,0.4706,1.0000,2.4265,0.9031,1.6435,0.8182,0.5822
1,430,651,11397,84,123,1687,1,0,80,0.7647,0.3793,0.2069,0.0036,0.6000,0.9667,2.0334,0.7782,1.4624,0.7931,0.2984
2,534,835,7972,99,125,1623,1,0,100,0.9710,0.3426,0.3333,0.0037,0.7500,0.9474,1.8513,0.7782,1.2553,0.6667,0.2150
3,546,860,18996,99,126,1353,0,1,290,0.7287,0.4413,0.1556,0.0052,0.5385,1.0000,2.2455,0.8451,1.6532,0.8444,0.5212
4,807,1306,246930,37,126,1353,0,1,185,0.0695,0.4486,0.0662,0.0126,0.2833,0.9885,3.3818,1.2305,2.4099,0.9338,1.0000

In [280]:
from sklearn.impute import SimpleImputer
si=SimpleImputer(strategy='most_frequent')
df_im=si.fit_transform(df)

In [281]:
df_im=pd.DataFrame(df_im)

In [282]:
data=df_im

In [283]:
target=df_im[0]

In [284]:
target

0        41.0
1       430.0
2       534.0
3       546.0
4       807.0
        ...
1936    212.0
1937    136.0
1938    137.0
1939    131.0
1940    790.0
Name: 0, Length: 1941, dtype: float64

In [285]:
df.head()

,Column1,Column2,Column8,Column9,Column10,Column11,Column12,Column13,Column14,Column15,Column16,Column17,Column18,Column19,Column20,Column22,Column23,Column24,Column25,Column27
0,41,50,24220,76,108,1687,1,0,80,0.0498,0.2415,0.1818,0.0047,0.4706,1.0000,2.4265,0.9031,1.6435,0.8182,0.5822
1,430,651,11397,84,123,1687,1,0,80,0.7647,0.3793,0.2069,0.0036,0.6000,0.9667,2.0334,0.7782,1.4624,0.7931,0.2984
2,534,835,7972,99,125,1623,1,0,100,0.9710,0.3426,0.3333,0.0037,0.7500,0.9474,1.8513,0.7782,1.2553,0.6667,0.2150
3,546,860,18996,99,126,1353,0,1,290,0.7287,0.4413,0.1556,0.0052,0.5385,1.0000,2.2455,0.8451,1.6532,0.8444,0.5212
4,807,1306,246930,37,126,1353,0,1,185,0.0695,0.4486,0.0662,0.0126,0.2833,0.9885,3.3818,1.2305,2.4099,0.9338,1.0000

In [286]:
import matplotlib.pyplot as plot
from sklearn import linear_model

In [287]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(data,target,test_size=0.3)

In [288]:
x_train.shape

(1358, 20)

In [289]:
x_test.shape

(583, 20)

In [290]:
from sklearn.linear_model import Perceptron

In [291]:
p1=Perceptron(penalty='l1')

In [292]:
df

,Column1,Column2,Column8,Column9,Column10,Column11,Column12,Column13,Column14,Column15,Column16,Column17,Column18,Column19,Column20,Column22,Column23,Column24,Column25,Column27
0,41,50,24220,76,108,1687,1,0,80,0.0498,0.2415,0.1818,0.0047,0.4706,1.0000,2.4265,0.9031,1.6435,0.8182,0.5822
1,430,651,11397,84,123,1687,1,0,80,0.7647,0.3793,0.2069,0.0036,0.6000,0.9667,2.0334,0.7782,1.4624,0.7931,0.2984
2,534,835,7972,99,125,1623,1,0,100,0.9710,0.3426,0.3333,0.0037,0.7500,0.9474,1.8513,0.7782,1.2553,0.6667,0.2150
3,546,860,18996,99,126,1353,0,1,290,0.7287,0.4413,0.1556,0.0052,0.5385,1.0000,2.2455,0.8451,1.6532,0.8444,0.5212
4,807,1306,246930,37,126,1353,0,1,185,0.0695,0.4486,0.0662,0.0126,0.2833,0.9885,3.3818,1.2305,2.4099,0.9338,1.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1936,212,277,35033,119,141,1360,0,1,40,0.3662,0.3906,0.5714,0.0206,0.5185,0.7273,2.4362,1.4472,1.2041,-0.4286,0.7254
1937,136,175,34599,112,133,1360,0,1,40,0.2118,0.4554,0.5484,0.0228,0.7046,0.7083,2.4579,1.4914,1.2305,-0.4516,0.8173
1938,137,174,37572,120,140,1360,0,1,40,0.2132,0.3287,0.5172,0.0213,0.7250,0.6818,2.4654,1.4624,1.1761,-0.4828,0.7079
1939,131,170,52715,117,140,1360,0,1,40,0.2015,0.5904,0.9394,0.0243,0.3402,0.6596,2.6222,1.5185,1.4914,-0.0606,0.9919
1940,790,1281,11682,101,133,1360,1,0,80,0.1162,0.6781,0.8000,0.0147,0.7692,0.7273,2.0128,1.3010,1.2041,-0.2000,0.5296

In [293]:
p1.fit(x_train,y_train)

Perceptron(penalty='l1')

In [294]:
from sklearn.metrics import accuracy_score

In [295]:
train_pred=p1.predict(x_train)

In [296]:
train_pred=p1.predict(x_test)

In [297]:


X=df
y=df['Column27']
from sklearn.linear_model import LogisticRegression

from sklearn import preprocessing
from sklearn import utils

#convert y values to categorical values
lab = preprocessing.LabelEncoder()
y = lab.fit_transform(y)

In [298]:

#split the dataset in the Training and testing 
from sklearn.model_selection import train_test_split
X_train , X_test ,y_train, y_test = train_test_split(X,y,test_size=0.3,random_state=0)
print(np.shape(X))
print(np.shape(X_test))
print(np.shape(X_train))

#Create the object of StandardScaler class for independent variables or features
from sklearn.preprocessing import StandardScaler 
sc=StandardScaler()
sc.fit(X_train)
X_train_std = sc.transform(X_train)
X_test_std = sc.transform(X_test)

(1941, 20)
(583, 20)
(1358, 20)

In [299]:
### SVM (Support Vector Machine)
from sklearn.svm import SVC
svm = SVC(kernel='linear', C=1,random_state=0)
svm.fit(X_train_std,y_train)
y_pred=svm.predict(X_test_std)
print('misclassified samples: %d'%(y_test!=y_pred).sum())
from sklearn.metrics import accuracy_score
print('Accuracy:%.2f'%accuracy_score(y_test,y_pred))

misclassified samples: 414
Accuracy:0.29

In [300]:
### KNN (K-Nearest Neighbors)
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
knn1=KNeighborsClassifier(n_neighbors=3)
knn1.fit(X_train_std,y_train)
y_pred=knn1.predict(X_test_std)
print('misclassified samples: %d'%(y_test!=y_pred).sum())
from sklearn.metrics import accuracy_score
print('Accuracy:%.2f'%accuracy_score(y_test,y_pred))

misclassified samples: 435
Accuracy:0.25

In [301]:
### Logistic Regression
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix
model = LogisticRegression(solver='liblinear', random_state=0)
model.fit(X,y)
model = LogisticRegression(solver='liblinear', random_state=0).fit(X, y)
model.predict_proba(X)
model.predict(X)
model.score(X,y)
print(classification_report(y, model.predict(X)))
model.score(X,y)

/usr/local/lib/python3.9/dist-packages/sklearn/svm/_base.py:1244: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(

              precision    recall  f1-score   support

           0       1.00      1.00      1.00         2
           1       1.00      1.00      1.00         1
           2       0.67      0.50      0.57         4
           3       0.00      0.00      0.00         2
           4       0.00      0.00      0.00         4
           5       1.00      0.50      0.67         2
           6       0.29      0.64      0.40        11
           7       0.00      0.00      0.00         1
           8       0.00      0.00      0.00         5
           9       0.00      0.00      0.00         2
          10       0.00      0.00      0.00         1
          11       0.00      0.00      0.00         7
          12       0.25      0.38      0.30         8
          13       0.00      0.00      0.00         4
          14       0.00      0.00      0.00         3
          15       0.50      0.20      0.29         5
          16       0.31      0.80      0.44         5
          17       0.00      0.00      0.00         4
          18       0.00      0.00      0.00         1
          19       0.33      0.67      0.44         3
          20       0.00      0.00      0.00         2
          21       0.00      0.00      0.00         1
          22       1.00      1.00      1.00         1
          23       0.00      0.00      0.00         9
          24       0.50      0.50      0.50         2
          25       0.00      0.00      0.00         6
          26       0.00      0.00      0.00         5
          27       1.00      1.00      1.00         1
          28       0.20      0.14      0.17         7
          29       0.00      0.00      0.00         1
          30       0.00      0.00      0.00         8
          31       0.16      0.62      0.25        29
          32       0.00      0.00      0.00         3
          33       0.14      0.10      0.12        10
          34       0.00      0.00      0.00         2
          35       0.10      0.10      0.10        20
          36       0.00      0.00      0.00         9
          37       0.50      0.08      0.13        13
          38       0.00      0.00      0.00         1
          39       0.19      0.31      0.24        13
          40       0.00      0.00      0.00        24
          41       0.00      0.00      0.00        11
          42       0.20      0.50      0.29         2
          43       0.00      0.00      0.00        13
          44       0.22      0.33      0.27         6
          45       0.00      0.00      0.00        22
          46       0.00      0.00      0.00        16
          47       0.00      0.00      0.00         6
          48       0.25      0.14      0.18         7
          49       0.00      0.00      0.00         6
          50       0.00      0.00      0.00        18
          51       0.06      0.12      0.08        25
          52       0.00      0.00      0.00        10
          53       0.00      0.00      0.00         2
          54       0.00      0.00      0.00         7
          55       0.06      0.41      0.11        29
          56       0.00      0.00      0.00         8
          57       0.00      0.00      0.00         1
          58       0.00      0.00      0.00        11
          59       0.00      0.00      0.00         3
          60       0.00      0.00      0.00         6
          61       0.14      0.50      0.22        24
          62       0.00      0.00      0.00         3
          63       0.00      0.00      0.00         7
          64       0.00      0.00      0.00         9
          65       0.03      0.09      0.04        11
          66       0.00      0.00      0.00        13
          67       0.00      0.00      0.00        20
          68       0.00      0.00      0.00         1
          69       0.00      0.00      0.00        14
          70       0.00      0.00      0.00         2
          71       0.00      0.00      0.00         7
          72       0.00      0.00      0.00         8
          73       1.00      0.08      0.15        12
          74       0.00      0.00      0.00         9
          75       0.00      0.00      0.00         2
          76       0.00      0.00      0.00         1
          77       0.00      0.00      0.00         3
          78       0.05      0.17      0.08        23
          79       0.00      0.00      0.00        11
          80       0.00      0.00      0.00         4
          81       0.00      0.00      0.00         6
          82       0.00      0.00      0.00         4
          83       0.00      0.00      0.00         5
          84       0.00      0.00      0.00         3
          85       0.03      0.14      0.05        21
          86       0.00      0.00      0.00         7
          87       0.00      0.00      0.00         4
          88       0.00      0.00      0.00         2
          89       0.00      0.00      0.00         2
          90       0.12      0.25      0.17         4
          91       0.00      0.00      0.00         2
          92       0.00      0.00      0.00        15
          93       0.00      0.00      0.00         5
          94       0.03      0.20      0.06         5
          95       0.17      0.10      0.12        10
          96       0.00      0.00      0.00         5
          97       0.00      0.00      0.00         9
          98       0.00      0.00      0.00         4
          99       0.00      0.00      0.00         7
         100       0.00      0.00      0.00         5
         101       0.00      0.00      0.00        13
         102       0.08      0.31      0.13        13
         103       0.00      0.00      0.00         8
         104       0.00      0.00      0.00         5
         105       0.00      0.00      0.00         4
         106       0.00      0.00      0.00         2
         107       0.00      0.00      0.00         4
         108       0.00      0.00      0.00         2
         109       0.00      0.00      0.00         4
         110       0.00      0.00      0.00         2
         111       0.00      0.00      0.00         8
         112       0.00      0.00      0.00         5
         113       0.03      0.07      0.04        15
         114       0.00      0.00      0.00         1
         115       0.00      0.00      0.00         3
         116       0.07      1.00      0.12         1
         117       0.00      0.00      0.00         5
         118       0.00      0.00      0.00         3
         119       0.25      0.17      0.20         6
         120       0.04      0.25      0.08        12
         121       0.50      1.00      0.67         1
         122       0.00      0.00      0.00         4
         123       0.00      0.00      0.00         3
         124       0.50      1.00      0.67         1
         125       0.00      0.00      0.00         2
         126       0.00      0.00      0.00         3
         127       0.00      0.00      0.00         8
         128       0.00      0.00      0.00         7
         129       0.00      0.00      0.00         7
         130       0.00      0.00      0.00         3
         131       0.00      0.00      0.00         2
         132       1.00      1.00      1.00         1
         133       1.00      1.00      1.00         1
         134       0.00      0.00      0.00         2
         135       0.00      0.00      0.00         8
         136       0.00      0.00      0.00         1
         137       0.00      0.00      0.00         9
         138       0.00      0.00      0.00         8
         139       0.20      0.25      0.22         4
         140       0.00      0.00      0.00         3
         141       0.00      0.00      0.00         4
         142       0.00      0.00      0.00         3
         143       0.00      0.00      0.00         3
         144       0.00      0.00      0.00         1
         145       0.00      0.00      0.00         4
         146       0.00      0.00      0.00         4
         147       0.00      0.00      0.00         4
         148       0.00      0.00      0.00         4
         149       0.00      0.00      0.00         6
         150       0.00      0.00      0.00         1
         151       0.00      0.00      0.00         6
         152       0.00      0.00      0.00         3
         153       0.00      0.00      0.00         2
         154       0.00      0.00      0.00         4
         155       0.00      0.00      0.00         4
         156       0.00      0.00      0.00         1
         157       0.00      0.00      0.00         5
         158       0.07      1.00      0.12         1
         159       0.00      0.00      0.00         4
         160       0.50      1.00      0.67         1
         161       0.00      0.00      0.00         2
         162       0.00      0.00      0.00         2
         163       0.00      0.00      0.00         4
         164       0.00      0.00      0.00         3
         165       0.00      0.00      0.00         2
         166       0.00      0.00      0.00         2
         167       0.00      0.00      0.00         2
         168       0.00      0.00      0.00         5
         169       0.00      0.00      0.00         5
         170       0.00      0.00      0.00        10
         171       0.00      0.00      0.00         1
         172       0.00      0.00      0.00         1
         173       0.00      0.00      0.00         4
         174       0.00      0.00      0.00         1
         175       0.00      0.00      0.00         2
         176       0.00      0.00      0.00         1
         177       0.00      0.00      0.00         5
         178       0.00      0.00      0.00         1
         179       0.00      0.00      0.00         1
         180       0.00      0.00      0.00         3
         181       0.00      0.00      0.00         5
         182       0.00      0.00      0.00         6
         183       0.00      0.00      0.00         5
         184       0.00      0.00      0.00         4
         185       0.00      0.00      0.00         3
         186       0.00      0.00      0.00         5
         187       0.00      0.00      0.00         2
         188       0.00      0.00      0.00         6
         189       0.00      0.00      0.00         2
         190       0.00      0.00      0.00         1
         191       0.25      1.00      0.40         1
         192       1.00      1.00      1.00         1
         193       0.00      0.00      0.00         1
         194       0.00      0.00      0.00         3
         195       0.00      0.00      0.00         1
         196       0.00      0.00      0.00         4
         197       0.00      0.00      0.00         4
         198       0.25      1.00      0.40         1
         199       0.14      0.50      0.22         4
         200       0.00      0.00      0.00         3
         201       0.00      0.00      0.00         4
         202       0.00      0.00      0.00         3
         203       0.00      0.00      0.00         2
         204       0.00      0.00      0.00         1
         205       0.00      0.00      0.00         2
         206       0.00      0.00      0.00         4
         207       0.00      0.00      0.00         1
         208       0.00      0.00      0.00         1
         209       0.00      0.00      0.00         2
         210       0.00      0.00      0.00         2
         211       1.00      1.00      1.00         1
         212       0.00      0.00      0.00         1
         213       0.00      0.00      0.00         4
         214       0.00      0.00      0.00         2
         215       0.00      0.00      0.00         3
         216       0.00      0.00      0.00         4
         217       0.50      0.50      0.50         2
         218       0.00      0.00      0.00         2
         219       0.00      0.00      0.00         3
         220       0.00      0.00      0.00         2
         221       0.00      0.00      0.00         2
         222       0.00      0.00      0.00         2
         223       0.50      1.00      0.67         1
         224       0.00      0.00      0.00         6
         225       0.00      0.00      0.00         6
         226       0.08      0.50      0.13         2
         227       0.00      0.00      0.00         1
         228       0.00      0.00      0.00         1
         229       0.00      0.00      0.00         2
         230       0.00      0.00      0.00         1
         231       0.50      1.00      0.67         1
         232       0.00      0.00      0.00         3
         233       0.00      0.00      0.00         3
         234       0.00      0.00      0.00         1
         235       0.00      0.00      0.00         2
         236       0.00      0.00      0.00         1
         237       0.00      0.00      0.00         8
         238       0.00      0.00      0.00         1
         239       0.00      0.00      0.00         4
         240       0.50      1.00      0.67         1
         241       0.00      0.00      0.00         1
         242       0.00      0.00      0.00         1
         243       0.00      0.00      0.00         1
         244       0.00      0.00      0.00         2
         245       0.00      0.00      0.00         1
         246       0.00      0.00      0.00         3
         247       0.00      0.00      0.00         1
         248       0.00      0.00      0.00         2
         249       0.00      0.00      0.00         4
         250       0.00      0.00      0.00         3
         251       0.00      0.00      0.00         3
         252       0.00      0.00      0.00         2
         253       0.00      0.00      0.00         1
         254       0.00      0.00      0.00         1
         255       0.00      0.00      0.00         2
         256       0.33      1.00      0.50         1
         257       0.00      0.00      0.00         2
         258       0.00      0.00      0.00         1
         259       0.50      1.00      0.67         1
         260       0.00      0.00      0.00         2
         261       0.00      0.00      0.00         2
         262       0.00      0.00      0.00         1
         263       0.20      0.50      0.29         2
         264       0.25      1.00      0.40         1
         265       0.00      0.00      0.00         1
         266       0.00      0.00      0.00         1
         267       0.00      0.00      0.00         2
         268       0.50      1.00      0.67         1
         269       0.00      0.00      0.00         1
         270       0.00      0.00      0.00         2
         271       0.00      0.00      0.00         1
         272       0.00      0.00      0.00         1
         273       0.00      0.00      0.00         1
         274       0.00      0.00      0.00         2
         275       0.50      1.00      0.67         1
         276       0.00      0.00      0.00         1
         277       0.00      0.00      0.00         1
         278       0.00      0.00      0.00         1
         279       0.33      1.00      0.50         1
         280       0.00      0.00      0.00         2
         281       1.00      1.00      1.00         1
         282       0.00      0.00      0.00         1
         283       0.00      0.00      0.00         1
         284       0.25      1.00      0.40         1
         285       0.50      1.00      0.67         1
         286       0.00      0.00      0.00         1
         287       0.00      0.00      0.00         2
         288       0.33      1.00      0.50         1
         289       0.50      1.00      0.67         1
         290       0.00      0.00      0.00         1
         291       0.00      0.00      0.00         1
         292       0.25      1.00      0.40         1
         293       0.00      0.00      0.00         2
         294       0.00      0.00      0.00         2
         295       0.00      0.00      0.00         1
         296       0.00      0.00      0.00         1
         297       0.00      0.00      0.00         1
         298       0.00      0.00      0.00         2
         299       0.00      0.00      0.00         1
         300       0.00      0.00      0.00         2
         301       0.00      0.00      0.00         1
         302       0.00      0.00      0.00         1
         303       0.50      1.00      0.67         1
         304       0.00      0.00      0.00         1
         305       0.00      0.00      0.00         2
         306       0.00      0.00      0.00         1
         307       1.00      1.00      1.00         1
         308       0.00      0.00      0.00         3
         309       1.00      1.00      1.00         1
         310       0.00      0.00      0.00         1
         311       0.00      0.00      0.00         1
         312       0.33      1.00      0.50         1
         313       0.00      0.00      0.00         1
         314       0.00      0.00      0.00         3
         315       0.00      0.00      0.00         2
         316       0.00      0.00      0.00         2
         317       0.00      0.00      0.00         1
         318       0.00      0.00      0.00         1
         319       1.00      1.00      1.00         1
         320       0.00      0.00      0.00         1
         321       0.00      0.00      0.00         1
         322       0.00      0.00      0.00         1
         323       0.00      0.00      0.00         2
         324       0.00      0.00      0.00         1
         325       0.00      0.00      0.00         1
         326       0.00      0.00      0.00         1
         327       0.20      1.00      0.33         1
         328       0.00      0.00      0.00         2
         329       0.00      0.00      0.00         1
         330       1.00      1.00      1.00         1
         331       0.00      0.00      0.00         3
         332       0.00      0.00      0.00         2
         333       0.00      0.00      0.00         1
         334       0.00      0.00      0.00         1
         335       0.00      0.00      0.00         1
         336       0.00      0.00      0.00         1
         337       0.00      0.00      0.00         1
         338       0.12      1.00      0.22         1
         339       0.00      0.00      0.00         1
         340       0.00      0.00      0.00         1
         341       0.00      0.00      0.00         1
         342       0.00      0.00      0.00         1
         343       0.00      0.00      0.00         2
         344       0.00      0.00      0.00         1
         345       1.00      0.50      0.67         2
         346       0.00      0.00      0.00         1
         347       0.00      0.00      0.00         1
         348       0.00      0.00      0.00         1
         349       0.00      0.00      0.00         2
         350       0.00      0.00      0.00         1
         351       0.00      0.00      0.00         2
         352       0.50      1.00      0.67         1
         353       0.33      1.00      0.50         1
         354       0.00      0.00      0.00         1
         355       0.00      0.00      0.00         1
         356       0.00      0.00      0.00         1
         357       1.00      1.00      1.00         1
         358       1.00      1.00      1.00         1
         359       0.00      0.00      0.00         1
         360       0.00      0.00      0.00         3
         361       0.00      0.00      0.00         1
         362       0.00      0.00      0.00         1
         363       0.00      0.00      0.00         1
         364       0.00      0.00      0.00         1
         365       0.00      0.00      0.00         1
         366       0.00      0.00      0.00         3
         367       0.00      0.00      0.00         1
         368       0.00      0.00      0.00         1

/usr/local/lib/python3.9/dist-packages/sklearn/svm/_base.py:1244: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
/usr/local/lib/python3.9/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.9/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.9/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

0.3147861926841834

In [302]:
from sklearn.ensemble import RandomForestClassifier #algorithm of hyperparameter tuning
from sklearn.model_selection import GridSearchCV #Cv: Cross Validation
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.3, random_state=0)

# Define the hyperparameters to tune
param_grid = {
    'n_estimators': [50, 100, 150],
    'max_depth': [None, 5, 10],
    'min_samples_split': [2, 5, 10]
}
# Create a random forest classifier object
rfc = RandomForestClassifier()

# Perform a grid search with cross-validation to find the best hyperparameters
grid_search = GridSearchCV(estimator=rfc, param_grid=param_grid, cv=5)
grid_search.fit(X_train, y_train)

# Print the best hyperparameters and their corresponding accuracy score on the validation set
print("Best hyperparameters:", grid_search.best_params_)
y_pred = grid_search.predict(X_val)
print("Validation accuracy score:", accuracy_score(y_val, y_pred))

/usr/local/lib/python3.9/dist-packages/sklearn/model_selection/_split.py:700: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(

Best hyperparameters: {'max_depth': None, 'min_samples_split': 2, 'n_estimators': 150}
Validation accuracy score: 0.6037735849056604